// Imports

@import _normalize
@import _colors

// Classes

.dogbox
  margin 10px auto
  padding 1em
  background-color color-doglogo-bg
  width 400px
  height 300px

  input[type=text]
    width 95%

.doglogo
  margin 10px auto
  padding 1em 0 3em
  background-color color-doglogo-bg
  text-align center
  width 400px
  height 300px
